<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - Webscraping

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Use webscraping to get bank information

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!pip install pandas
!pip install bs4
#!pip install requests

Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
  Preparing metadata (setup.py) ... done
Collecting beautifulsoup4
  Downloading beautifulsoup4-4.10.0-py3-none-any.whl (97 kB)
     |████████████████████████████████| 97 kB 7.1 MB/s
Collecting soupsieve>1.2
  Downloading soupsieve-2.3.1-py3-none-any.whl (37 kB)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py) ... done
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1271 sha256=d9de3d89ba82d8949f0a4018ca537959a6f7783c8c893492fd8f6075353b18c9
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/0a/9e/ba/20e5bbc1afef3a491f0b3bb74d508f99403aabe76eda2167ca
Successfully built bs4
Installing collected packages: soupsieve, beautifulsoup4, bs4
Successfully installed beautifulsoup4-4.10.0 bs4-0.0.1 soupsieve-2.3.1

## Imports

Import any additional libraries you may need here.

In [3]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

## Extract Data Using Web Scraping

The wikipedia webpage [https://en.wikipedia.org/wiki/List_of_largest_banks](https://en.wikipedia.org/wiki/List_of_largest_banks?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01) provides information about largest banks in the world by various parameters. Scrape the data from the table 'By market capitalization' and store it in a JSON file.

### Webpage Contents

Gather the contents of the webpage in text format using the `requests` library and assign it to the variable <code>html_data</code>

In [4]:
#Write your code here
url= 'https://en.wikipedia.org/wiki/List_of_largest_banks?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01'
data  = requests.get(url).text

<b>Question 1</b> Print out the output of the following line, and remember it as it will be a quiz question:

In [5]:
data[101:124]

'List of largest banks -'

### Scraping the Data

<b> Question 2</b> Using the contents and `beautiful soup` load the data from the `By market capitalization` table into a `pandas` dataframe. The dataframe should have the country `Name` and `Market Cap (US$ Billion)` as column names.  Display the first five rows using head.

Using BeautifulSoup parse the contents of the webpage.

In [5]:
#Replace the dots below
soup = BeautifulSoup(data, "html.parser")

In [6]:
table = soup.find('table') # in html table is represented by the tag <table>
table

<table class="box-Missing_information plainlinks metadata ambox ambox-content" role="presentation"><tbody><tr><td class="mbox-image"><div style="width:52px"><a class="image" href="/wiki/File:Wiki_letter_w.svg"><img alt="Wiki letter w.svg" data-file-height="44" data-file-width="44" decoding="async" height="44" src="//upload.wikimedia.org/wikipedia/en/thumb/6/6c/Wiki_letter_w.svg/44px-Wiki_letter_w.svg.png" srcset="//upload.wikimedia.org/wikipedia/en/thumb/6/6c/Wiki_letter_w.svg/66px-Wiki_letter_w.svg.png 1.5x, //upload.wikimedia.org/wikipedia/en/thumb/6/6c/Wiki_letter_w.svg/88px-Wiki_letter_w.svg.png 2x" width="44"/></a></div></td><td class="mbox-text"><div class="mbox-text-span">This article <b>is missing information</b> about Revenue and Employment.<span class="hide-when-compact"> Please expand the article to include this information. Further details may exist on the <a href="/wiki/Talk:List_of_largest_banks" title="Talk:List of largest banks">talk page</a>.</span> <span class="date-container"><i>(<span class="date">September 2020</span>)</i></span></div></td></tr></tbody></table>

Load the data from the `By market capitalization` table into a pandas dataframe. The dataframe should have the country `Name` and `Market Cap (US$ Billion)` as column names. Using the empty dataframe `data` and the given loop extract the necessary data from each row and append it to the empty dataframe.

In [7]:
data = pd.DataFrame(columns=["Name", "Market Cap (US$ Billion)"])

for row in soup.find_all('tbody')[3].find_all('tr'):
    col = row.find_all('td')
    if (col != []):
        name = col[1].text
        marketcap = col[2].text.strip()
        data = data.append({"Name": name, "Market Cap (US$ Billion)": marketcap}, ignore_index=True)
        
data

                                          Name Market Cap (US$ Billion)
0                             JPMorgan Chase\n                   368.78
1    Industrial and Commercial Bank of China\n                   295.65
2                            Bank of America\n                   279.73
3                                Wells Fargo\n                   214.34
4                    China Construction Bank\n                   207.98
5                 Agricultural Bank of China\n                   181.49
6                          HSBC Holdings PLC\n                   169.47
7                             Citigroup Inc.\n                   163.58
8                              Bank of China\n                   151.15
9                       China Merchants Bank\n                   133.37
10                      Royal Bank of Canada\n                   113.80
11                     Toronto-Dominion Bank\n                   106.61
12                         Commonwealth Bank\n                    99.77
13                                 HDFC Bank\n                    105.9
14                              U.S. Bancorp\n                    84.40
15                             Goldman Sachs\n                    78.70
16                           Banco Santander\n                    75.47
17                            Banco Bradesco\n                    74.67
18                            Morgan Stanley\n                    73.93
19                                ICICI Bank\n                    73.84
20            Mitsubishi UFJ Financial Group\n                    66.20
21                                Scotiabank\n                    65.48
22                    PNC Financial Services\n                    63.11
23                       State Bank of India\n                    62.85
24                               BNP Paribas\n                    59.36
25   Australia and New Zealand Banking Group\n                    54.88
26                   National Australia Bank\n                    51.68
27                      Lloyds Banking Group\n                    51.19
28           Sumitomo Mitsui Financial Group\n                    49.85
29                       Kotak Mahindra Bank\n                    48.12
30                                       UBS\n                    45.92
31                                 ING Group\n                    44.97
32                               Capital One\n                    43.22
33               The Bank of New York Mellon\n                    42.58
34                       China Minsheng Bank\n                    39.13
35                          China CITIC Bank\n                    38.55
36           Banco Bilbao Vizcaya Argentaria\n                    37.42
37                    Mizuho Financial Group\n                    36.95
38                           Intesa Sanpaolo\n                    36.90
39                           Crédit Agricole\n                    34.89
40        Canadian Imperial Bank of Commerce\n                    34.87
41                    Royal Bank of Scotland\n                    33.95
42                                  Barclays\n                    33.26
43                                 Axis Bank\n                    30.75
44                                    Nordea\n                    29.59
45                        Standard Chartered\n                    29.37
46                                  KBC Bank\n                    27.40
47                                 UniCredit\n                    26.88
48                          Société Générale\n                    21.27
49                             Deutsche Bank\n                    15.77

**Question 3** Display the first five rows using the `head` function.

In [8]:
#Write your code here
c.head(5)

                                         Name Market Cap (US$ Billion)
0                            JPMorgan Chase\n                   368.78
1   Industrial and Commercial Bank of China\n                   295.65
2                           Bank of America\n                   279.73
3                               Wells Fargo\n                   214.34
4                   China Construction Bank\n                   207.98

### Loading the Data

Usually you will Load the `pandas` dataframe created above into a JSON named `bank_market_cap.json` using the `to_json()` function, but this time the data will be sent to another team who will split the data file into two files and inspect it. If you save the data it will interfere with the next part of the assignment.

In [21]:
#Write your code here
def load(bank_market_cap.json, data):
    data.to_json(bank_market_cap.json)

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation.