<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [ ]:
#!pip install pandas
#!pip install requests

## Imports

Import any additional libraries you may need here.

In [5]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01) and create a free account.
2.  Once the account is created. You will get the Get the Free API key option on the top as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/getapi.png"/>

3.  Copy the API key and use in the url in Question 1.

### Call the API

<b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [6]:
# Write your code here
url = "http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=e634198b3a98a6fea3c40a9e0728147a"
data = requests.get(url).json()
data

{'success': True,
 'timestamp': 1646058122,
 'base': 'EUR',
 'date': '2022-02-28',
 'rates': {'AED': 4.118218,
  'AFN': 102.934563,
  'ALL': 121.093006,
  'AMD': 539.839774,
  'ANG': 2.021722,
  'AOA': 556.805383,
  'ARS': 120.426809,
  'AUD': 1.550445,
  'AWG': 2.018489,
  'AZN': 1.908692,
  'BAM': 1.959023,
  'BBD': 2.26479,
  'BDT': 96.443594,
  'BGN': 1.957965,
  'BHD': 0.422695,
  'BIF': 2257.030471,
  'BMD': 1.121227,
  'BND': 1.523009,
  'BOB': 7.723324,
  'BRL': 5.776058,
  'BSD': 1.121678,
  'BTC': 2.8924409e-05,
  'BTN': 84.61741,
  'BWP': 13.074082,
  'BYN': 3.49139,
  'BYR': 21976.054263,
  'BZD': 2.260984,
  'CAD': 1.427272,
  'CDF': 2258.152229,
  'CHF': 1.03024,
  'CLF': 0.032429,
  'CLP': 894.907582,
  'CNY': 7.075838,
  'COP': 4387.070743,
  'CRC': 719.200005,
  'CUC': 1.121227,
  'CUP': 29.712522,
  'CVE': 110.386417,
  'CZK': 24.983303,
  'DJF': 199.68028,
  'DKK': 7.440503,
  'DOP': 61.11267,
  'DZD': 157.924822,
  'EGP': 17.611,
  'ERN': 16.818431,
  'ETB': 56.969163,
  'EUR': 1,
  'FJD': 2.388648,
  'FKP': 0.816164,
  'GBP': 0.836329,
  'GEL': 3.478839,
  'GGP': 0.816164,
  'GHS': 7.652414,
  'GIP': 0.816163,
  'GMD': 59.761514,
  'GNF': 10066.937422,
  'GTQ': 8.662617,
  'GYD': 234.686654,
  'HKD': 8.762273,
  'HNL': 27.486886,
  'HRK': 7.564024,
  'HTG': 117.376859,
  'HUF': 371.675311,
  'IDR': 16146.008888,
  'ILS': 3.616956,
  'IMP': 0.816163,
  'INR': 84.655981,
  'IQD': 1636.431184,
  'IRR': 47371.851745,
  'ISK': 142.025849,
  'JEP': 0.816164,
  'JMD': 173.849648,
  'JOD': 0.794914,
  'JPY': 129.303247,
  'KES': 127.651895,
  'KGS': 104.600429,
  'KHR': 4557.789133,
  'KMF': 491.518029,
  'KPW': 1009.104708,
  'KRW': 1350.243568,
  'KWD': 0.339788,
  'KYD': 0.934836,
  'KZT': 549.225069,
  'LAK': 12765.172493,
  'LBP': 1700.901938,
  'LKR': 226.596225,
  'LRD': 172.899059,
  'LSL': 17.043892,
  'LTL': 3.310693,
  'LVL': 0.678219,
  'LYD': 5.140819,
  'MAD': 10.644073,
  'MDL': 20.640037,
  'MGA': 4468.090355,
  'MKD': 61.715578,
  'MMK': 1994.663473,
  'MNT': 3205.399428,
  'MOP': 9.028775,
  'MRO': 400.277938,
  'MUR': 48.762133,
  'MVR': 17.323196,
  'MWK': 900.90155,
  'MXN': 22.828468,
  'MYR': 4.712731,
  'MZN': 71.567698,
  'NAD': 17.044709,
  'NGN': 466.452865,
  'NIO': 39.758778,
  'NOK': 9.934909,
  'NPR': 135.388056,
  'NZD': 1.663088,
  'OMR': 0.431663,
  'PAB': 1.121678,
  'PEN': 4.259542,
  'PGK': 3.941095,
  'PHP': 57.506665,
  'PKR': 196.494963,
  'PLN': 4.698888,
  'PYG': 7895.573004,
  'QAR': 4.082413,
  'RON': 4.948542,
  'RSD': 117.639361,
  'RUB': 110.446458,
  'RWF': 1138.045667,
  'SAR': 4.206734,
  'SBD': 9.060459,
  'SCR': 16.144952,
  'SDG': 499.500106,
  'SEK': 10.620674,
  'SGD': 1.522363,
  'SHP': 1.54438,
  'SLL': 13118.358926,
  'SOS': 657.03907,
  'SRD': 22.936384,
  'STD': 23207.140499,
  'SVC': 9.814557,
  'SYP': 2816.522621,
  'SZL': 17.047344,
  'THB': 36.642266,
  'TJS': 12.664439,
  'TMT': 3.935508,
  'TND': 3.239219,
  'TOP': 2.565536,
  'TRY': 15.493341,
  'TTD': 7.611665,
  'TWD': 31.467582,
  'TZS': 2596.762346,
  'UAH': 33.708434,
  'UGX': 3979.683972,
  'USD': 1.121227,
  'UYU': 47.433937,
  'UZS': 12182.134571,
  'VEF': 239752273940.9833,
  'VND': 25575.193763,
  'VUV': 127.451488,
  'WST': 2.92903,
  'XAF': 657.039494,
  'XAG': 0.049791,
  'XAU': 0.00062,
  'XCD': 3.030173,
  'XDR': 0.804626,
  'XOF': 655.350808,
  'XPF': 119.3549,
  'YER': 280.587282,
  'ZAR': 17.308183,
  'ZMK': 10092.387836,
  'ZMW': 19.904273,
  'ZWL': 361.03472}}

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [7]:
# Turn the data into a dataframe
df = pd.DataFrame.from_dict(data)
df

     success   timestamp base        date         rates
AED     True  1646058122  EUR  2022-02-28      4.118218
AFN     True  1646058122  EUR  2022-02-28    102.934563
ALL     True  1646058122  EUR  2022-02-28    121.093006
AMD     True  1646058122  EUR  2022-02-28    539.839774
ANG     True  1646058122  EUR  2022-02-28      2.021722
..       ...         ...  ...         ...           ...
YER     True  1646058122  EUR  2022-02-28    280.587282
ZAR     True  1646058122  EUR  2022-02-28     17.308183
ZMK     True  1646058122  EUR  2022-02-28  10092.387836
ZMW     True  1646058122  EUR  2022-02-28     19.904273
ZWL     True  1646058122  EUR  2022-02-28    361.034720

[168 rows x 5 columns]

In [8]:
# Drop unnescessary columns
df_drop = df[['rates']] 
df_drop

            rates
AED      4.118218
AFN    102.934563
ALL    121.093006
AMD    539.839774
ANG      2.021722
..            ...
YER    280.587282
ZAR     17.308183
ZMK  10092.387836
ZMW     19.904273
ZWL    361.034720

[168 rows x 1 columns]

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [9]:
# Save the Dataframe
df.to_csv(r'C:\Users\user\Downloads\exchange_rates_1.csv')

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR    |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).